.about .secondary-header {
  margin-bottom: 20px;
}

.about .description {
  margin-bottom: 20px;
}

.about__right-side-description {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.857;
  letter-spacing: 0.02em;
  color: #555555;
  margin-bottom: 40px;
  max-width: 411px;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .about__img-list {
    display: none;
  }
}

@media screen and (min-width: 768px) {
.about .container {
  display: flex;
}

  .about__img-list-item {
  &:not(:last-child) {
    margin-right: 30px;
    margin-bottom: 30px;

  }
}
  .about__right-side {
  padding-left: 30px;
  }
  .about__right-side-description {

  margin-bottom: 64px;

  }

}


@media screen and (min-width: 1200px) {
  .about__img-list {
    display: flex;
  }

  .about__list-item:not(:last-child) {
    margin-right: 30px;
    margin-bottom: 0;
  }

  .about__right-side {
    padding-left: 64px;
}
}