
.barbers {
  background-color: #f7f7f7;

  &__list {
    display: flex;
    justify-content: space-between;
  }
}

.barbers__content-wrapper {
  padding-top: 30px;
  padding-left: 82px;
  padding-right: 82px;
}
.barbers__list-name {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.389;
  text-align: center;
  letter-spacing: 0.02em;
  color: #303030;
  margin-bottom: 8px;
}

.barbers__list-job {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.357;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--main-color);
  margin-bottom: 30px;
}