.secondary-header {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 42px;
  line-height: 1.167;
  letter-spacing: 0.05em;

  .barbers &,
  .services & {
    margin-bottom: 44px;
  }
}