.undertitle {
  font-weight: 600;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.02em;

  color: #9DA4BD;
  margin-bottom: 20px;


  &::before {
    content: "";
    display: flex;
    height: 1px;
    width: 60px;
    background-color: rgba(157, 164, 189, 0.6);
    margin-right: 20px;
  }

  .contact__info & {
    color: #fff;
  }
  .gallery & {
    margin-bottom: 44px;
  }
}

.undertitle-light-theme,
.secondary-header-light-theme {
  color: #303030;
}

.undertitle-light-theme::before {
  background-color: #303030;
}

.undertitle-dark-theme {
  color: rgba(157, 164, 189, 0.6);

  &::before {
    background-color: rgba(157, 164, 189, 0.6);
  }
}

.secondary-header-dark-theme {
  color: #fff;
}
